body {background-color : #cccccc}
@font-face{ font-family : "fabrica";
src : url("Fabrica.otf");}
@font-face{ font-family : "novecento";
src : url("Novecento.otf");}
@font-face{ font-family : "trebuchet";
src : url("Trebuchet.otf");}
table{ border : 5px solid #cccccc; width : 100%; background-color : #ffffff;}
h1{ font-family :  "novecento";
color : white;
font-size : 600%;}
h2{font-family: "trebuchet";
color : #66ff66;}
	p { font-family : "fabrica";
	font-size : 150%;
	text-align :  center;
	color : #003300;}
th{font-family:"novecento";
color : #ffffff;
font-size:150%;}
a:link { text-decoration : none;
color : white;}
a:visited { text-decoration : none;
color: white;}
a:hover { text-decoration : none;
color: #003300;}
div.link { -webkit-transition: font-size .5s; 
transition: font-size .5s;
-webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;}
div.link:hover {
    font-size: 170%;
}